@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.556);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: rgb(7, 24, 18);
  }
}
.navbar {
  border-radius: .5rem;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(6, 3, 51) 24%, rgba(9,9,121,1) 60%, rgba(148,237,255,1) 100%);
}

.restaurantBacking {
 background-color: aqua;
 
}

.dishesListTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: azure;
}
